.login {
  padding: 40px 120px;
  .ant-form-item{
    margin-bottom: 10px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 20px;
  }
}