body{
  background: #ececec;
  font-family: 'Microsoft Yahei';
}
#app{
  min-width: 1200px;
  overflow-x: scroll;
  .ant-breadcrumb {
    height: 30px;
    line-height: 30px;
    margin-bottom: 16px;
    background: #f8f8f8;
    padding: 0 10px;
    span {
      color: #1890ff !important;
    }
  }
  .ant-layout{
    .active{
      color: rgb(255, 102, 102) !important;
    }
  }
  .ant-layout-content{
    min-height: auto !important;
  }
  .ant-layout-header{
    padding: 0 20px;
    height: auto;
    line-height: auto;
    background: #fff;
  }
  .ant-login {
    width: 200px;
    height: 30px;
    line-height: 34px;
    font-size: 14px;
    margin: 8px 0;
    float: right;
    span{
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: rgb(255, 102, 102);
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .ant-breadcrumb{
    margin: 20px;
    background: #fff;
    span{
      color: #666 !important;
      &:hover{
        color: rgb(255, 102, 102) !important;
      }
    }
  }

  .ant-btn-primary{
    border-color: rgb(255, 102, 102) !important;
    background-color: rgb(255, 102, 102) !important;
  }

  .ant-container{
    width: 1000px;
    margin: 0 auto;
  }
}