.home {
  margin-top: 20px;
  .section-portrait-list{
    margin: 0 auto;
    width: 1000px;
    ul{
      padding: 0 !important;
      height: 1000px;
    }
    li{
      display: inline-block;
    }
  }
  .section-portrait-list-cell{
    border: 1px solid #eee;
  }
  .section-portrait-list-cell-1{
    float: left;
    width: 660px;
    height: 660px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eee;
    &:hover{
      border-color: #ddd;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
  .section-portrait-list-cell-2, .section-portrait-list-cell-3{
    float: left;
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #eee;
    &:hover{
      border-color: #ddd;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
  .section-portrait-list-cell-4, .section-portrait-list-cell-5{
    float: left;
    width: 320px;
    height: 320px;
    margin-right: 20px;
    overflow: hidden;
    background-color: #eee;
    &:hover{
      border-color: #ddd;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
  .section-portrait-list-cell-6{
    float: left;
    width: 320px;
    height: 320px;
    overflow: hidden;
    background-color: #eee;
    &:hover{
      border-color: #ddd;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
  }
  .section-portrait-list-cell-img{
    background: #ccc;
    height: 220px;
  }
  .section-portrait-list-cell-info{
    height: 100px;
    padding-top: 20px;
    text-align: center;
    background: #fff;   
    .package-item-title{
      color: #666;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
    }
    .package-item-price{
      font-size: 14px;
      color: #f66; 
      height: 30px;
      line-height: 30px; 
    }
  }
  .section-portrait-title{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 10px;
    font-size: 26px;
  }
  .section-portrait-more{
    padding-top: 20px;
    text-align: center; 
    a{
      text-align: center;
      display: inline-block;
      width: 160px;
      height: 32px;
      line-height: 32px;
      color: rgb(255, 102, 102);
      border: 1px dashed rgb(255, 102, 102);
    }
  }
}