.product{
  .product-header{
    height: 400px;
    .product-title{
      padding: 10px 0;
      font-size: 20px;
      font-weight: 700;
    }
    .product-header-block{

      .product-header-block-detail{
        padding: 20px;
        margin-bottom: 10px;
        background: #faf5f8;
      }


      .product-header-block-left{
        border: 1px solid #eee;
        float: left;
        width: 600px;
        height: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #eee;
        img {
          width: 100%;
        }
      }

      .product-header-block-right{
        float: left;
        width: 380px;
        height: 320px;
        margin-bottom: 20px;
        overflow: hidden;
        .product-header-block-form {
          padding: 0 50px;
        }
      }

      .product-price{
        padding-left: 40px;
        span:nth-child(1){
          color: #f10180;
          font-size: 24px;
          margin-right: 5px;
        }
        span:nth-child(2){
          color: #f10180;
          font-size: 48px;
        }
      }
      .product-discount{
        padding-left: 40px;
        span:nth-child(1){
          display: inline-block;
          color: #fff;
          width: 62px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          background-color: #f3b241;
          margin-right: 10px;
        }
        span:nth-child(2){
          color: #333;
        }
      }
      .ant-form-item{
        margin-bottom: 0px;
        label, span{
          color: #999;
          font-size: 10px;
        }
        button span{
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }


  .img-block{
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #eee;
    width: 800px;
    // height: 500px;
    img {
      width: 100%;
    }
  }
}

.confirm {
  padding: 50px 150px;
  h1{
    font-weight: 400;
  }
  .confirm-footer{
    background: #faf5f8;
    vertical-align: top;
    margin: 10px 0;
    padding: 10px 10px;
    .count{
      display: inline-block;
      font-size: 20px;
      span{
        font-weight: bold;
        color: #ff6666;
      }
    }
  }
  .address-list {
    padding: 10px;
    .address-item {
      padding: 5px;
      border: 5px solid #eee;
      div:nth-child(1) {
        padding-bottom: 5px;
        border-bottom: 1px solid #faf5f8;
      }
      div:nth-child(2) {
        padding-top: 5px;
      }
    }
    .address-list-active {
      border: 5px solid #ff6666;
      color: #c97;
    }
    .select-icon {
      position: absolute;
      right: 15px;
      bottom: 10px;
      color: #36ab67;
      font-size: 20px;
    }
  }
}

.cart {
  max-height: 500px;
  overflow-y: scroll;
}

.finish {
  padding: 50px 150px;
  h1{
    font-weight: 400;
  }
  .finish-img {
    text-align: center;
    img {
      width: 150px;
    }
  }
  .finish-btn {
    margin-top: 20px;
    text-align: center;
    button:nth-child(1) {
      margin-right: 10px;
    }
    button:nth-child(2) {
      margin-left: 10px;
    }
  }
}