.product{
  .product-header{
    height: 400px;
    .product-title{
      padding: 10px 0;
      font-size: 20px;
      font-weight: 700;
    }
    .product-header-block{

      .product-header-block-detail{
        padding: 20px;
        margin-bottom: 10px;
        background: #faf5f8;
      }


      .product-header-block-left{
        border: 1px solid #eee;
        display: inline-block;
        float: left;
        width: 600px;
        height: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #eee;
      }

      .product-header-block-right{
        /* border: 1px solid #eee; */
        display: inline-block;
        float: left;
        width: 380px;
        height: 320px;
        margin-bottom: 20px;
        overflow: hidden;
        /* background-color: #eee; */
      }

      .product-price{
        padding-left: 40px;
        span:nth-child(1){
          color: #f10180;
          font-size: 24px;
          margin-right: 5px;
        }
        span:nth-child(2){
          color: #f10180;
          font-size: 48px;
        }
      }
      .product-discount{
        padding-left: 40px;
        span:nth-child(1){
          display: inline-block;
          color: #fff;
          width: 62px;
          height: 18px;
          text-align: center;
          line-height: 18px;
          background-color: #f3b241;
          margin-right: 10px;
        }
        span:nth-child(2){
          color: #333;
        }
      }
      .ant-form-item{
        margin-bottom: 0px;
        label, span{
          color: #999;
          font-size: 10px;
        }
        button span{
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
}
